

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/public/variant7.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

.register-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 500px;
    text-align: center;
}

.register-form h2 {
    margin-bottom: 30px;
    font-size: 2em;
}

.input-group {
    margin-bottom: 25px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
}

button {     
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1db750;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.error-msg{
    color: red;
    margin-bottom: 1em;
    font-size: 1.2em;
}

button:hover {
    background-color: #106a2e;
}

.form-footer {
    margin-top: 20px;
}

.form-footer a {
    color: #1db750;
    text-decoration: none;
    font-size: 1em;
}

.form-footer a:hover {
    text-decoration: underline;
}
