.main-content{
    height: 100vh;
}

.register-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #106a2e;
    color: #fff;
    padding: 3em;
    padding-left: 20em;
    padding-right: 20em;
}

.register-section .button button{
    padding: 1em 5em;
    border-radius: 0.4em;
    border-style: none;
    background-color: #1db750;
    transition: 0.3s ease;
}

.register-section .button button:hover{
    transform: scale(1.1);

}

.register-section .button button a{
    color: white;
    font-size: 1.3em;
}

.description{
    display: flex;
    justify-content: center;
    gap: 3em;
    color: #484848
}

.description-header{
    text-align: center;
    margin-top:  2em;
    margin-bottom: 2em;
    color: #484848;
}

.description .why-choose-us{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid #eeeeee32;
    border-radius: 0.5em;
    padding: 1em;
    transition: all .3s ease;
}

.description .why-choose-us img{
    background-color: #71e096;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all .3s ease;
    
}

.description .why-choose-us .details{
    margin-top: 0;
}
.description .why-choose-us .details ul{
    display: inline-block;
    text-align: left;
    padding: 2em;
    
}

.description .why-choose-us .details ul h2{
    text-align: center;
    margin-bottom: 1em;
}

.description .why-choose-us .details ul li{
    padding: 0.5em;
}

.description .why-choose-us .details ul li::marker{
    color: #1db750;
}

.description .why-choose-us:hover{
    box-shadow: 0 0 50px 0 rgba(19,19,28,.12);
}

.description .why-choose-us:hover img{
    background-color: #1db750;
}